<h2>Dear Michael,</h2>

<p><strong><%= @name %></strong> made an order on your website. The details are here:</p>

<p><%= link_to 'View the order online now', @url %></p>

<p>Thank you,</p>

<p>The Michael Youngblood Photography Web Team.</p>