<h2>Dear <%= @name%>,</h2>

<p>You recently made an order for photos from Michael Youngblood Photography.</p>

<p><%= link_to 'View your order online now', @url %> or save this url: <%= @url %> for future use.</p>

<p>Thank you,</p>

<p>Michael Youngblood Photography</p>