<h2>Thanks so much for your business!</h2>
<p>Paypal handles the transactions and email from here on out.</p>
<p><strong>You can now:</strong></p>
<ul>
	<li><%= link_to 'Review your order', order_path(@order) %> or</li>
	<li><%= link_to 'Go back to your main page', member_path(@user) %></li>
</ul>